<div class="team-container">
    <div class="team-add-team">
        <input class="team-input" ng-model="teamName" placeholder="Add new team" type="text">
        <button class="team-add-button" ng-click="addTeam()">+</button>
    </div>
    <div class="team-wrapper" ng-repeat="team in teams">
        <div class="team-name"
             ng-click="makeActive($index)"
             ng-class="{'team-highlighted': team.isActive}">{{team.name}}</div>
        <div class="member-wrapper" ng-show="team.isActive">
            <div class="member" ng-repeat="member in team.members">
                <div class="member_item">{{member.name}} - {{member.job}}</div>
            </div>
        </div>
    </div>
</div>
