<div class="search-wrapper">
    <div class="search-tabs">
        <div ng-repeat="tab in tabs"
             class="search-tabs__item"
             ng-click="activateTab($index)"
             ng-class="{'search-tabs__item_active': tab.isActive}">{{tab.text}}</div>
    </div>

    <div class="search-container">
        <div class="search-items">
            <div class="search-items__person">Person</div>
            <input class="search-items__input">
        </div>
        <div class="search-refresh"></div>
    </div>
</div>