<div class="search__wrapper">
    <div class="search-tabs">
        <div ng-repeat="tab in tabs"
             class="search-tabs__item"
             ng-click="activateTab($index)"
             ng-class="{'search-tabs__item_active': tab.isActive}">{{tab.text}}</div>
    </div>

    <div class="search__container" ng-controller="SearchCtrl">
        <div class="search__search-area">
            <div class="search__person" ng-show="teamMembers.length" ng-repeat="teamMember in teamMembers">
                <div class="search__name">{{teamMember.name}}</div>
                <div class="search__remove" ng-click="removeTeamMember($index)">X</div>
            </div>

            <typeahead items="items"
                       prompt=""
                       title="name"
                       subtitle="abbreviation"
                       model="worker"
                       on-select="onItemSelected()"
            ></typeahead>
            <button class="search__refresh" ng-click="refreshTeamList()">Refresh</button>
        </div>

    </div>
</div>

<div class="team-container">
    <div class="team-add-team">
        <input class="team-input" ng-model="teamName" placeholder="Add new team" type="text">
        <button class="team-add-button" ng-click="addTeam()">+</button>
    </div>
    <div class="team-wrapper" ng-repeat="team in teams">
        <div class="team-name"
             ng-click="makeActive($index)"
             ng-class="{'team-highlighted': team.isActive}">{{team.name}}</div>
        <div class="member-wrapper" ng-show="team.isActive">
            <div class="member" ng-repeat="member in team.members">
                <div class="member__item">{{member.name}} - {{member.job}}</div>
                <div class="member__delete" ng-click="deleteMember($index)">X</div>
            </div>
        </div>
    </div>
</div>
