.no-padding {
  padding: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-white {
  color: #fff;
}

.color-red {
  color: #e60000;
}

.color-black {
  color: #000000;
}

.color-gray {
  color: #888888;
}

.bg-red {
  background-color: #E60000 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-gray {
  background-color: #888888 !important;
}

.brdr-gray {
  border-color: #888888 !important;
}

.brdr-red {
  border-color: #E60000 !important;
}

.brdr-white {
  border-color: #fff;
}

.team-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  min-width: 320px;
}

.team-wrapper {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 2px 0;
}

.team-name {
  border-bottom: 1px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.team-input {
  width: 90%;
  float: left;
}

.team-add-button {
  float: left;
  width: 8%;
  margin-left: 2%;
  height: 34px;
}

.team-add-team {
  margin: 0 0 2px 0;
}

.team-add-team:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.team-highlighted {
  background-color: rgba(0, 164, 231, 0.51);
}

.member {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.member__item {
  padding: 2px 5px 0;
  width: 80%;
  float: left;
}

.member__delete {
  float: right;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.team-container {
  float: right;
}

.app-container {
  width: 100%;
}

.search__wrapper {
  height: 500px;
  border: 1px solid #ddd;
  float: left;
  margin-left: 10px;
  box-sizing: border-box;
  position: relative;
}

.search__container {
  margin: 22px 0 0 0;
  padding: 0 20px 0 20px;

  &_list-js {

  }
}

.search-tabs {
  margin-left: -1px;
  position: absolute;
  top: -42px;
}

.search-tabs__item {
  border: 1px solid #ddd;
  width: 80px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: white;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.search-tabs__item_active {
  border-bottom: 1px solid white;
}

.search__items {
  margin: 20px;
}

.search__person {
  float: left;
  padding: 0 10px 0 10px;
  cursor: pointer;
  margin: 10px 1px 0 0;
  line-height: 3rem;
}

.search__refresh {
  margin: 10px 0 0 5px;
  float: right;
}

.search__remove {
  float: right;
  font-weight: bold;
  cursor: pointer;
  width: 12px;
}

.search__name {
  float: left;
  width: 84%;
}

typeahead {
  clear: both;
  display: block;
  width: 70%;
  float: left;
}

.typeahead__wrapper {
  display: inline-block;
  position: relative;
  width: 194px;
  height: 63px;
}

.typeahead__input {
  float: left;
  margin: 10px 0 0 5px;
  position: absolute;
  border-collapse: collapse;
  height: 34px;
}

.typeahead__items {
  border: 1px solid lightgrey;
  clear: both;
  width: 174px;
  position: absolute;
  top: 26px;
  margin: 19px 0 0 5px;
  border-collapse: collapse;
}

.typeahead__item {
  clear: both;
  cursor: pointer;
}

.search__container_list {
  height: 475px;
  overflow: scroll;
  overflow-x: hidden;
}

.table {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.tooltip-wrapper {
  position: relative;

  &_table {
    display: block;
    top: -55px;
    position: relative;
  }
}

.tooltip-wrapper__message {
  position: absolute;
  z-index: 10;
  border-radius: 12px 12px;
  text-align: center;
  width: 180px;
  background-color: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 10px 10px 49px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 49px -1px rgba(0,0,0,0.75);

  &_margin-top {
    top: 50px;
    display: block;
  }
}

.filter {
  margin-bottom: 20px;

  &__input {
    border-radius: 10px 10px;
    padding: 0 0 0 10px;
  }
}