.no-padding {
  padding: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-white {
  color: #fff;
}

.color-red {
  color: #e60000;
}

.color-black {
  color: #000000;
}

.color-gray {
  color: #888888;
}

.bg-red {
  background-color: #E60000 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-gray {
  background-color: #888888 !important;
}

.brdr-gray {
  border-color: #888888 !important;
}

.brdr-red {
  border-color: #E60000 !important;
}

.brdr-white {
  border-color: #fff;
}

.team-container {
  border: 1px solid black;
  width: 400px;
  padding: 20px;
  margin: 20px;
}

.team-wrapper {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 2px 0;
}

.team-name {
  border-bottom: 1px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;

}

.team-input {
  width: 90%;
  float: left;
}

.team-add-button {
  float: left;
  width: 8%;
  margin-left: 2%;
}

.team-add-team {
  margin: 0 0 2px 0;
}

.team-add-team:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.team-highlighted {
  background-color: rgba(0, 164, 231, 0.51);
}

.member {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.member__item {
  padding: 2px 5px 0;
  width: 80%;
  float: left;
}

.member__delete {
  float: right;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.team-container {
  float: right;
}

.app-container {
  width: 100%;
}

.search-wrapper {
  height: 500px;
  border: 1px solid black;
  float: left;
  width: 50%;
}

.search-tabs {
  margin-top: -22px;
  margin-left: -1px;
}

.search-tabs__item {
  border: 1px solid black;
  width: 80px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: white;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.search-tabs__item_active {
  border-bottom: 1px solid white;
}

.search-items {
  margin: 20px;
}

.search-items__person {
  float: left;
  border: 1px solid black;
  height: 26px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  border-radius: 10px 10px;
  margin: 10px 1px 0 0;
  line-height: 2.3rem;
}

.search-items__input {
  float: left;
  margin: 10px 0 0 -1px;
}